* {
    padding: 0;
    margin: auto;
    box-sizing: border-box;
    width: 90%;
        font-family: "Roboto", "Arial","sans-serif";

}

p, h1, h2, h3, h4, h5, h6{
    margin:0;
}

.container {
    background-color: aliceblue;    
}

.header {
    padding:20px 0;
    display: flex;
}

.header-dropdown {
    text-align: right;
}

.jumbotron {
    background-color: red;
    width:100%;
    margin:auto;
    padding:20px 0 0 0;
    display: flex;
}

.jumbotron h3 {
    font-size:38px;
    font-weight: 600;
}

.jumbotron-text-section {
    padding-left:5%;
}

.jumbotron-photograph {
    width: 100%;
    margin: auto;
}

.jumbotron-text-section button{
    font-weight: bold;
    padding:10px;
    color: white;
    background-color: black;
    text-decoration: none;
    border: 1px solid black;
    margin-top:15px;
    width: 50%;
}